In [2]:
import pandas as pd

dados = pd.read_csv("C:/Users\Welson\Documents\Development\Data Science/7DaysCodeAlura-Python-Pandas\datasets\dados_emprestimos\emprestimos-20101.csv")
dados2 = pd.read_csv("C:/Users\Welson\Documents\Development\Data Science/7DaysCodeAlura-Python-Pandas\datasets\dados_emprestimos\emprestimos-20102.csv")
dados["tipo_vinculo_usuario"].value_counts()
#dados2["tipo_vinculo_usuario"].value_counts()

ALUNO DE GRADUAÇÃO                 74814
ALUNO DE PÓS-GRADUAÇÃO             14337
DOCENTE                             3630
SERVIDOR TÉCNICO-ADMINISTRATIVO     1755
ALUNO MÉDIO/TÉCNICO                  431
DOCENTE EXTERNO                      256
USUÁRIO EXTERNO                      133
OUTROS                                 1
Name: tipo_vinculo_usuario, dtype: int64

In [5]:
dados.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO

In [4]:
dados["codigo_barras"].value_counts()

2006039067    28
2009040654    20
2006031210    19
2009038164    16
2009052724    16
              ..
L169814        1
L155236        1
2010013754     1
L193641        1
Y011015        1
Name: codigo_barras, Length: 44158, dtype: int64

In [17]:
# dados.data_emprestimo.dt.date
dados_data = dados.data_emprestimo = pd.to_datetime(dados.data_emprestimo)
# dados_data.data_emprestimo.dt.date
dados_data.head()

0   2010-01-04 07:44:10.721
1   2010-01-04 07:44:10.750
2   2010-01-04 08:08:44.081
3   2010-01-04 08:24:21.284
4   2010-01-04 07:44:10.721
Name: data_emprestimo, dtype: datetime64[ns]