In [23]:
import pandas as pd
dados_2010_1 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20101.csv')
dados_2010_2 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20102.csv')
dados_2011_1 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20111.csv')
dados_2011_2 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20112.csv')
dados_2012_1 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20121.csv')
dados_2012_2 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20122.csv')
dados_2013_1 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20131.csv')
dados_2013_2 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20132.csv')
dados_2014_1 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20141.csv')
dados_2014_2 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20142.csv')
dados_2015_1 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20151.csv')
dados_2015_2 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20152.csv')
dados_2016_1 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20161.csv')
dados_2016_2 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20162.csv')
dados_2017_1 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20171.csv')
dados_2017_2 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20172.csv')
dados_2018_1 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20181.csv')
dados_2018_2 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20182.csv')
dados_2019_1 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20191.csv')
dados_2019_2 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20192.csv')
dados_2020_1 = pd.read_csv('datasets\dados_emprestimos/emprestimos-20201.csv')


dados_2020_1["tipo_vinculo_usuario"].value_counts()

ALUNO DE GRADUAÇÃO                 19382
ALUNO DE PÓS-GRADUAÇÃO              3942
DOCENTE                             1521
DOCENTE EXTERNO                      644
SERVIDOR TÉCNICO-ADMINISTRATIVO      640
ALUNO MÉDIO/TÉCNICO                  410
USUÁRIO EXTERNO                       22
Name: tipo_vinculo_usuario, dtype: int64

In [24]:

dataframe = pd.concat([dados_2010_1,dados_2010_2,dados_2011_1,dados_2011_2,dados_2012_1,dados_2012_2,dados_2013_1,dados_2013_2,dados_2014_1,
                                    dados_2014_2,dados_2015_1,dados_2015_2,dados_2016_1,dados_2016_2,dados_2017_1,dados_2017_2,dados_2018_1,dados_2018_2,
                                    dados_2019_1,dados_2019_2,dados_2020_1],ignore_index=True)

dataframe["tipo_vinculo_usuario"].value_counts()

ALUNO DE GRADUAÇÃO                 1769197
ALUNO DE PÓS-GRADUAÇÃO              319442
DOCENTE                              78169
SERVIDOR TÉCNICO-ADMINISTRATIVO      34122
ALUNO MÉDIO/TÉCNICO                  29877
DOCENTE EXTERNO                      24465
USUÁRIO EXTERNO                       2740
OUTROS                                   6
Name: tipo_vinculo_usuario, dtype: int64

In [25]:
dataframe.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO

In [26]:
dataframe["codigo_barras"].value_counts()

2010091988    196
2015009066    184
2011075249    165
2009036153    150
2009055616    148
             ...
2006018133      1
S006410         1
2009010899      1
L200826         1
2018031352      1
Name: codigo_barras, Length: 276757, dtype: int64

In [17]:
# dados.data_emprestimo.dt.date
dados_data = dados.data_emprestimo = pd.to_datetime(dados.data_emprestimo)
# dados_data.data_emprestimo.dt.date
dados_data.head()

0   2010-01-04 07:44:10.721
1   2010-01-04 07:44:10.750
2   2010-01-04 08:08:44.081
3   2010-01-04 08:24:21.284
4   2010-01-04 07:44:10.721
Name: data_emprestimo, dtype: datetime64[ns]